configuration {
	modi: [drun,run,ssh,combi];
	combi-modi: [window,drun,ssh,run];
	terminal: "kitty";
}
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
@theme "/home/j4ger/.local/share/rofi/themes/rounded-nord-dark.rasi"
